body {
    background-color: #f2ebe5;
    margin: 0;
}

main {
    margin: 3rem;
}

.pic-style {
    width: 250px;
    height: auto;
}

.header {
    height: 100px;
    background-color: #9f496e;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 30px 0 0 0;
}

.nav-links {
    text-align: end;
}

a {
    padding-right: 60px;
}

img {
    border-radius: 10px;
    display: block;
    margin: auto;
}

.quote {
    color: rgb(103, 102, 102);
    font-style: italic;
}

/* Traffic Light CSS */

.border {
    margin: 50px 400px;
    border: 10px solid rgb(205, 201, 201);
    width: 180px;
    height: auto;
}

.border-top {
    border-top: 10px solid rgb(205, 201, 201);
}

.box {
    width: 180px;
    height: 10rem;
}

.red {
    background-color: rgb(255, 0, 0);
    border: 10px solid #830404;
}

.yellow {
    background-color: rgb(238, 255, 0);
    border: 10px solid #b0b608;
}

.green {
    background-color: rgb(0, 248, 4);
    border: 10px solid #1d8304;
}

