body {
    background-color: #f2ebe5;
    margin: 0;
}

main {
    margin: 3rem;
}

.pic-style {
    width: 250px;
    height: auto;
}

.header {
    height: 100px;
    background-color: #9f496e;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 30px 0 0 0;
}

.nav-links {
    text-align: end;
}

a {
    padding-right: 60px;
}

img {
    border-radius: 10px;
    display: block;
    margin: auto;
}

.quote {
    color: rgb(103, 102, 102);
    font-style: italic;
}

